.header {
  background-color: @black;
  padding: 50px 60px 60px 60px;
  text-transform: uppercase;
}

.header__list {
  display: grid;
  grid-template-columns: min-content min-content min-content 1fr min-content min-content 125px;
  gap: 30px;
  text-align: center;
  align-items: center;
}

.header__item-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__item:first-child {
  border-left: 2px solid @pink;
  padding: 3px 0 3px 3px;
}

.header__toggle{
  position: absolute;
  top: 3px;
  right: 0;
  z-index: 2;
  display: block;
  width: 35px;
  height: 18px;
  cursor: pointer;
  border: none;
  background-color: inherit;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.header__nav-closed .header__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 2px;
  background-color: @white;
  box-shadow: 0 8px 0 0 @white, 0 16px 0 0 @white;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.header__nav-opened .header__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 0;
    width: 35px;
    height: 1px;
    background-color: @white;
    box-shadow: none;
  }

  &::before {
    transform: rotate(25deg);
  }

  &::after {
    transform: rotate(-25deg);
  }
}

@media (max-width: @mobile-width-only) {
  .header__nav-closed .header__item {
    display: none;
  }

  .header__item-logo {
    position: relative;
    left: 40%;
    top: 2%;
  }
}
