.promo {
  font-family: 'Forum', cursive;
  text-transform: uppercase;
  position: relative;
  padding: 0 15px;
  background: @pink-gradient-up;

  @media (min-width: @desktop-width) {
    padding: 40px 60px;
  }
}

.promo__video {
  display: none;

  @media (min-width: @desktop-width) {
    position: absolute;
    display: block;
    top: 0;
    z-index: 1;
    left: 0;
    width: 100%;
  }
}

.promo__wrapper {
  position: relative;
  z-index: 3;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.promo__container {
  position: relative;
  z-index: 5;

  @media (min-width: @desktop-width) {
    padding-top: 0;
  }
}

.promo__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  max-width: 220px;

  @media (min-width: @desktop-width) {
    max-width: 575px;
    font-weight: 400;
    font-size: 84px;
    line-height: 99px;
  }
}

.promo__button {
  font-size: 15px;
  line-height: 18px;
  padding: 21px 67px;
  background: @pink-gradient;
  color: @white;
  border-radius: 60px;
  border: none;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 21px;
    padding: 30px 85px;
  }
}

@media (max-width: @mobile-width-only) {
  .promo__img {
    height: 174px;
    position: absolute;
    right: -15px;
    top: -35px;
  }

  .promo__button {
    display: block;
    margin: 0 auto;
  }
}
