.works {
  margin-top: 90px;
  position: relative;
}

.works__line {
  font-weight: 600;
  font-size: 128px;
  line-height: 150px;
  color: @pink-opacity;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  width: 120%;
}

.works__wrapper {
  padding: 60px;
}

.works__title {
  font-weight: 600;
  font-size: 128px;
  line-height: 150px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 80px;
}

.works__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.works__img {
  background-color: @pink-light;
  width: 450px;
  height: 450px;
}

.works__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.works__item:last-child {
  align-self: center;
  text-align: center;
  position: relative;
}

.works__link-text {
  position: absolute;
  left: 29%;
  bottom: 39%;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: @pink-light;
  text-transform: uppercase;
}
