img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


input[type="number"] {
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

input[type="number"]:hover,
input[type="number"]:focus {
  appearance: number-input;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.letter-italic {
  font-style: italic;
}

.wrapper {
  width: 1400px;
  margin: 0 auto;
}

.button__link {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.button__arrow {
  margin-left: -50px;

  path {
    fill: @pink-light;
  }
}

.button__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: @pink-light;
}

@media (max-width: @mobile-width-only) {
  .button__circle {
    width: 89px;
    height: 89px;
  }

  .button__arrow {
    width: 53px;
    margin-left: -45px;
  }

  .button__text {
    text-transform: uppercase;
  }
}
