@black: #000;
@white: #fff;
@blue: #100054;
@pink: #EC39D3;
@pink-light: #FFB8E4;
@pink-gradient: linear-gradient(103.93deg, #EB39D2 32.11%, #2EBECF 119.12%);
@pink-opacity: rgba(255, 184, 228, 0.5);

@mobile-width: 320px;
@mobile-width-only: 719px;
@desktop-width: 720px;
